body{
background-color:#020D0C;
font-size:12pt;
font-family: 'Open Sans', sans-serif;
color:white;
min-width:360px;
min-height:500px;
}
ul{
	color: #FF6c26;
}
.center-piece{
	margin:60px auto;
	height:240px;
	width:240px;
	border-radius:50%;
	bord/er:3px solid #FF6C26;
	background-color: #FF6C26;
	overflow:hidden;
	transform: translate3d(0,0,0)
}
.scroll{
	height:240px;
	width:240px;
	display:inline-block;
}
#scroll-wrapper{
	height:240px;
	width:720px;
	transform: translate3d(240px,0,0);
	 will-change: transform;
	 -webkit-transition: transform .8s ease-in-out;
}
.first{
background-i/mage:url("./images/FirstPanel.png");
background-size:contain;
background-repeat: no-repeat;
background-color: white;
}
.second{
background-color:green;
}
.third{
	background-color:blue;
}
.fourth{
	background-color:yellow;
}
.about-wrapper{
	display: table;
	margin:0px auto;
	color: white;
}
.about-item{
	border-top:1px solid rgba(255,255,255,.2);
	border-left:1px solid rgba(255,255,255,.2);
	border-right:1px solid rgba(255,255,255,.2);
	padding:5px;
	height:36px;
	min-width:240px;
}
.about-item:last-of-type {
	border-bottom:1px solid rgba(255,255,255,.2);
}
.about-icon{
width:36px;
height:36px;
margin-right:5px;
display:inline-block;
background-color:white;
}
.about-body{
	display:inline-block;
	vertical-align:top;
	line-height: 20px;
	font-size:12pt;
	height:20px;
}
.about-body-sub{
	font-size:8pt;
	vertical-align: top;
	display:inline-block;
	line-height:12px;
	color:rgba(255,255,255,.5);
}
.Title{
	text-align:center;
	font-size:36pt;
	margin:0px 0px 60px;
}

