body{
background-color:#020D0C;
font-size:12pt;
font-family: 'Open Sans', sans-serif;
color:white;
min-width:360px;
min-height:500px;
}
ul{
	color: #FF6c26;
}
.center-piece{
	margin:60px auto;
	height:240px;
	width:240px;
	border-radius:50%;
	overflow:hidden;
	transform: translate3d(0,0,0);
	background-image:url("./images/good4.png");
background-size:contain;
background-repeat: no-repeat;
background-color: white;
}
.scroll{
	height:240px;
	width:240px;
	display:inline-block;
}
#scroll-wrapper{
	height:240px;
	width:720px;
	transform: translate3d(240px,0,0);
	 will-change: transform;
	 -webkit-transition: transform .8s ease-in-out;
}
.first{

}
.portrait{
background-color: #FF6C26;
height:301px;
width:240px;
}
.second{
	background-color: blue;
}
.third{

background-size:contain;
background-repeat: no-repeat;
background-color: white;
overflow:hidden;
}
.empire-state{
	background-image:url("./images/icons/Empire-State.png");
background-size:contain;
background-repeat: no-repeat;
height:225px;
width:225px;
display:table;
margin: 15px auto;
}
.fourth{
	background-color:yellow;
}
.media-wrapper{
	display: flex;
	margin:0px auto;
	color: white;
	justify-content:center;
}
.media-items{
	display:table-column;
}
.media-item{
	bor/der-top:1px solid rgba(255,255,255,.2);
	bor/der-left:1px solid rgba(255,255,255,.2);
	bord/er-right:1px solid rgba(255,255,255,.2);
	border-bottom:1px solid rgba(255,255,255,.2);
	padding:5px;
	height:47px;
	width:340px;
	box-sizing:border-box;
}
#do-myself{
backgrou//nd-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/67376-42.png?Expires=1409766723&Signature=gE9Ysn5Q5RSzBtH~tSVywerLZ1SZ-usLuxaz4DudXBuaCaW-P8VO~sZC5JQpNPSaWGAahKA8wu64GjTKXfQnfCus8zySkPEA0t6uiOnFzVz-OiUIktn6cGCyyiN-TFo5dwuu59ACUO7XdwgbACVGVxpaTzQb~NAEKxl5i-Yqc2U_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
background-size:contain;
background-repeat: no-repeat;
-webkit-fi/lter: invert(100%);
	background-image: url("./images/icons/ftc.png");
}
#do-full-stack .media-icon{
backgrou//nd-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/67376-42.png?Expires=1409766723&Signature=gE9Ysn5Q5RSzBtH~tSVywerLZ1SZ-usLuxaz4DudXBuaCaW-P8VO~sZC5JQpNPSaWGAahKA8wu64GjTKXfQnfCus8zySkPEA0t6uiOnFzVz-OiUIktn6cGCyyiN-TFo5dwuu59ACUO7XdwgbACVGVxpaTzQb~NAEKxl5i-Yqc2U_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
background-size:contain;
background-repeat: no-repeat;
-webkit-fi/lter: invert(100%);
	background-image: url("./images/icons/ftc.png");
}
#do-olaf .media-icon{
backgrou/nd-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/63341-42.png?Expires=1409755734&Signature=KSURpXuEnXcCNSBIbrGcjzd6ZHfHLHXrPP7vnG6ZUYFt9Jnk8b~QYQ0TNzSPtDHfUudpYshmaiPQVceDmclQrSqjRQsNlsdBoTbpw59FLTxdI6iZCP9veg0XT46OCW1epCRgMFkXLvqgaYthwXgqgU9AglQycO0to2XjGthRuyE_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
background-size:contain;
background-repeat: no-repeat;
background-image: url("./images/icons/ftc.png");
-we/bkit-filter: invert(100%);
}
#do-nyc .media-icon{
backg/round-image: url("https://d30y9cdsu7xlg0.cloudfront.net/png/54971-42.png?Expires=1409757039&Signature=kwP--KMpMFCzQkYTmYUgkHm-QIQ~Bk5VexYk6DTEw-u7SVPlvy7VmebH~pe8WGoLDCHpIl7R-uALECKu8InAGSPWORYbPiANboPA0X4qIbjyflpMWigZx4ylC2EaFLzqlP~nT8aTfBQwxp93NzsClUbq277Mm5Uo5D55lLjjQ7U_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q");
	background-image: url("./images/icons/ftc.png");
background-size:contain;
background-repeat: no-repeat;
-webk/it-filter: invert(100%);
}

#do-job .media-icon{
	background-image: url("./images/icons/ftc.png");
	background-size:contain;
	background-repeat: no-repeat;
}


.media-icon{
width:36px;
height:36px;
margin-right:5px;
display:inline-block;
}

.media-about{
	display:inline-block;
	vertical-align:top;
	line-height: 20px;
	font-size:12pt;
	height:20px;
}
.media-about-sub{
	font-size:8pt;
	vertical-align: top;
	display:inline-block;
	line-height:12px;
	color:rgba(255,255,255,.5);
}

.text-items{
		display:table-column;
		min-width:340px;


}
.text-item{

	width:340px;
	box-sizing:border-box;
	min-height:200px;
	bor/der-right:1px solid rgba(255,255,255,.2);
	bor/der-bottom:1px solid rgba(255,255,255,.2);
		padding:5px;
		padding-bottom:15px;
}

.Title{
	text-align:center;
	font-size:36pt;
	margin:0px 0px 60px;
}

