extends layout

block content
	.center-piece
		.center-piece-bg
		#scroll-wrapper
			.scroll.first
			.scroll.second
			.scroll.third
				.empire-state
	.media-wrapper#about
		.media-items
			.nav
				.tab Me
				.tab Bookmarked
				.tab
			.media-item#do-olaf
				.media-about Douglas J Binder
					br
					span.media-about-sub St. Olaf College Graduate
				.text-item I was born and raised on the East End of Long Island, where I quickly developed a taste for competition, and strong coffee.  Matriculating at St. Olaf College in Northfield, Minnesota, I found my passion for software design, and graduated with a B.A. in computer science.
					hr
			.media-item#do-full-stack
				.media-about Full Stack Dev
					br
					span.media-about-sub Node.js and Django
				.text-item AppFirst was my first exposure to a professional development, they gave me opportunities that encouraged me to build a strong foundation with a diverse set of tools. Since then, I have done free lance frontend work, messed around with mongo/node, and have fostered an interest in evolving web technologies.
					hr
			.media-item#do-job
				.media-about Fintech Collective
					br
					span.media-about-sub St. Olaf College Graduate
				.text-item I've collaborated with outside talent to build out our curated investment portal, and I'm responsible for maintaining our splash page.  I'm most excited about the potential for data visualization, and making meaningful and intuititive connections for individuals that can't live without tech.
