
<!DOCTYPE html>
<html>
<head>
<title>Doug Binder</title>
<link rel="stylesheet" href="main.css">
<script src="" charset="utf-8"></script>
<script type="text/javascript" src="main.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body onload="init()">
<div class="center-piece"><div class="center-piece-bg"></div><div id="scroll-wrapper">
	<div class="scroll first"><div class="portrait"></div></div><div class="scroll second"></div><div class="scroll third"><div class="empire-state"></div></div></div>
</div>
<div class="media-wrapper" id="about">
	<div class="media-items">
	<div class="media-item" id="do-olaf">
	<div class="media-icon"></div>
	<div class="media-about">Douglas Binder<br><span class="media-about-sub">St. Olaf College Graduate</span></div></div>
<div class="text-item">
I was born and raised on the East end of Long Island, where I quickly developed a love for salt water, coffee, and pizza.  Matriculating at St. Olaf College in Northfield, Minnesota, I found my passion for software design, and graduated with a B.A. in computer science.</div>
	<div class="media-item" id="do-full-stack">
	<div class="media-icon"></div>
	<div class="media-about">Full Stack<br><span class="media-about-sub">Node.js and Django</span></div>
	</div>
	<div class="text-item">
<a href="">AppFirst</a> was my first exposure to a professional development, they gave me opportunities that encouraged me to build a strong foundation with a diverse set of tools. Since then, I have done free lance frontend work, read up on iOS, and have become increasingly interested in evolving web technologies.  </div>
	<div class="media-item" id="do-job">
	<div class="media-icon"></div>
	<div class="media-about">Fintech Collective<br><span class="media-about-sub">Software Engineer</span></div>
	</div>
<div class="text-item">
At Fintech Collective, I am the only full time in house developer.  I've collaborated with outside talent to build out our curated investment portal, as well as tweak our splash page fintech.io.  I'm most excited about the potential for data visualization, and making meaningful and intutitive connections for individuals that use tech daily.
</div>
	</div><div class="text-wrapper">
	</div>
</div>

</body >
</html>