extends layout

block content
	.center-piece
		.center-piece-bg
		#scroll-wrapper
			.scroll.first
			.scroll.second
			.scroll.third
				.empire-state
	.media-wrapper#about
		.media-items
			.nav
				.tab Me
			.media-item#do-olaf
				.media-about Douglas J Binder
					br
					span.media-about-sub St. Olaf College Graduate.
				.text-item I was born and raised on the East End of Long Island, where I quickly developed a taste for competition.  Matriculating at St. Olaf College in Northfield, Minnesota, I found my passion for software design, and graduated with a B.A. in computer science.
					hr
			.media-item#do-full-stack
				.media-about Full Stack Dev
					br
					span.media-about-sub Node.js and Django. Strong C++ background.
				.text-item  Node is my platform of choice, but Django is a close second. On the frontend, I like to write plain js, but I have experience with jquery and D3. I am increasingly interested in the realtime web, and web components.
					hr
			.media-item#do-job
				.media-about Fintech Collective
					br
					span.media-about-sub Software Engineer.
				.text-item I've collaborated with outside talent to build out our curated investment portal, and I'm responsible for maintaining our splash page.  I'm most excited about the potential for data visualization, and making meaningful and intuititive connections for individuals that can't live without tech.
					hr
			.media-item#do-job
				.media-about What I'm Reading
					br
					span.media-about-sub
					for result in ARTS
						.text-item= result.title