doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')

  body(onload="init()")
    block content
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet', type='text/css')
  script(src="/javascripts/main.js")

