
@media(max-width: 600px){

}

body{
background-color:#020D0C;
font-size:12pt;
font-family: 'Open Sans', sans-serif;
color:white;
min-width:360px;
min-height:500px;
cursor: default;
}
ul{
	color: #FF6c26;
}

.center-piece{
	margin:60px auto;
	height:240px;
	width:240px;
	border-radius:50%;
	overflow:hidden;
	white-space: nowrap;
	transform: translate3d(0,0,0);

}
.center-piece-bg{
display:inline-block;
height:240px;
width:240px;
border-radius:50%;
transform: translate3d(0,0,0);
background-image:url("/images/good4.png");
background-size:contain;
background-repeat: no-repeat;
background-color: white;
}
.scroll{
	height:240px;
	width:240px;
	display:inline-block;
}
#scroll-wrapper{
	height:240px;
	width:720px;
	transform: translate3d(0,0,0);
	 will-change: transform;
	 -webkit-transition: transform .8s ease-in-out;
	 transition: transform .8s ease-in-out;
	 z-index:2;
	 display:inline-block;
}
.first{
background-color: #FF6C26;
height:240px;
width:240px;
}

.second{
	background-color: blue;
}
.third{

background-size:contain;
background-repeat: no-repeat;
background-color: #020D0C;
overflow:hidden;
}
.empire-state{
	background-image:url("/images/icons/Empire-State.png");
background-size:contain;
background-repeat: no-repeat;
height:225px;
width:225px;
display:table;
margin: 15px auto;
-webkit-filter: invert(100%);
filter: invesrt(100%);
}
.fourth{
	background-color:yellow;
}
.media-wrapper{
	width:100%;
	margin:0px auto;
	color: white;
	justify-content:center;
}
.media-items{
	width:342px;
	margin:0px auto;
}
.media-item{

	border-bottom:1px solid rgba(255,255,255,.2);
	padding:5px;
	width:100%;
	box-sizing:border-box;
	margin-bottom: 3px;
}
.media-item:last-of-type{
		border-bottom:0px solid rgba(255,255,255,.2);
}
.media-icon{
width:10%;
height:10%;
margin-right:5px;
display:inline-block;
	background-size:contain;
background-repeat: no-repeat;
	background-image: url("/images/icons/ftc.png");
}

.media-about{
	display:inline-block;
	vertical-align:top;
	line-height: 20px;
	font-size:12pt;
	height:20px;
	cursor: pointer;
}
.media-about-sub{
	font-size:8pt;
	vertical-align: top;
	display:inline-block;
	line-height:12px;
	color:rgba(255,255,255,.5);
	cursor: pointer;
	padding-bottom: 2px;
}
.media-about-sub:active{
	border-bottom: 1px solid #CC561E !important;
}
.media-about-sub:hover{
	border-bottom: 1px solid #FF6C26;
}
.text-item{

	width:340px;
	box-sizing:border-box;
		padding:5px;
		padding-top:0px;
}
.Title{
	text-align:center;
	font-size:36pt;
	margin:0px 0px 60px;
}

